.clients{
	background-color: $sectionColorSecondary;
}

.client__container{
	display: flex; 
	justify-content: space-between;
	align-items: center;

	@media (max-width: 480px) {
		flex-direction: column;
	}

	div{
		width: 15%;
		@media (max-width: 480px) {
			margin: 30px auto;
			width: 40%;
		}
		
		img{
			width: 100%;
		}
	}
}