// WELCOME TO FLOWIE GARDEN 

.welcome {
	background: white;
	text-align: center;

	.offer {
		width:100%;
		display:flex;
		flex-flow:row wrap;

		.offer-item {
			width: calc(33.3% - 10px);
			margin-right: 10px;

			&:last-child {
				margin-right: 0px;
			}

			img {
				width: 100%;
				max-width: 300px;
			}

			a {
				text-decoration: none;
				text-transform: uppercase;
				font-size: 1.2rem;
				color: #2b2b2b;
				transition: color 0.3s ease-in;

				&:hover {
					color: #80a05d;
				}
			}
		}
	}
}


// MEDIA QUERIES

/* hi-res laptops and desktops */ 
@media (max-width:1281px) { 

}

/* big landscape tablets, laptops, and desktops */ 
@media (max-width:1025px) { 

}


/* tablet, landscape iPad, lo-res laptops ands desktops */ 
@media (max-width:961px) { 
	
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
@media (max-width:641px) { 

	.welcome {
		background: white;
		text-align: center;

		.offer {
			flex-flow: column wrap;

			.offer-item {
				width: 100%;
				margin: 15px 0;
				margin-right: 0;

				img {
					width:100%;
				}
				
				a {
					text-decoration:none;
					text-transform:uppercase;
					font-size:1.6rem;
					color:#2b2b2b;
					transition:color 0.3s ease-in;
					&:hover {
						color:#80a05d;
					}
				}
			}
		}
	}

}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
@media (max-width:481px) { 


}

/* smartphones, iPhone, portrait 480x320 phones */ 
@media (max-width:320px) { 


}